@charset "utf-8";

* {


    font:"Open Sans",sans-serif;
    font: inherit;
    margin:0px;
    list-style-type:none;
    padding:0px;

}

.cabLogo{
    position:relative;
    float:left;
    width:555px;
    height:220px; 
}
.desenvolvedor {
    text-align: center;
}

.mask {

    position:fixed;

    z-index:9000; 

    background-color:#000;

    display:none;
    top:0;
    left: 0;

}



#boxes .window {

    position:fixed;
    top: 30px;

    width:440px;

    height:200px;

    display:none;

    z-index:9999;

    padding:20px;

}

.produtoObservacao{
    width: 95%;
    margin: 2.5%;
    height: 75%;
    font-size: 15px;
    text-align: left;
    margin-bottom: 3%;

}



/* Personalize a janela modal aqui. Você pode adicionar uma imagem de fundo. */

#boxes .dialog { 
    text-align: center;
    background: #d0e9c6;
    background-position:0 0; 
    border-radius: 10px;
    height:330px;
    font-size: 20px;
    width:360px;
}

/* posiciona o link para fechar a janela */





body {   








    -webkit-background-size: 100% 100%;
    background-image: url(../img/fundo.png);
    background-attachment: fixed;
    background-position: center center;
     background: #4B8352;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.corpo { 
    background: #fff;
    width:1005px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}


.linha {
    padding-left: 3px;
    padding-right: 3px;
    list-style-type:none;
    width:98%;
    height:30px; 
    font-size:18px; 

}
.livre{

    height: auto;
}

.chec{

    width: 19px;
    position:relative; 
    float: left;
    text-align: center;
    border-left: 1px solid;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.checD{
    margin-top: 75px;
    /* position: absolute; */
    float: left;
    height:1px;
    width: 19px;
    /* border-top: 1px solid; */
    font-size: 15px;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
.Dupla{
    list-style-type:none;
    width:100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font:"Comic Sans MS", cursive;
    font-size:18px;
    height: 60px;
}

.Media{
    list-style-type:none;
    width:100%;
    height: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    font:"Comic Sans MS", cursive;
    font-size:18px;

}

.titulo {
    list-style-type:none;
    width:100%;
    height:30px;
    margin-bottom: 5px; 
    margin-top: 15px;

    font:"Comic Sans MS", cursive;
    font-size:18px;

}
.titulo:hover {
    background:#000 ;
}

.linha a:hover, .linha:hover {
    background:#bbb;
    color:#00f;}

.linha .nome {
    width:56%;
    outline-color: transparent;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    float:left;
    position:relative;
}

.linha .telefone {
    width:20%;
    float:left;
    position:relative;}

.linha .controle {
    width:8%;
    float:right;
    position:relative;
    text-align:center;
}

.l1{background:#c7254e;color:#000;border-bottom: 1px solid #ccc; }

.l2{background:#e74c3c;color:#000;border-bottom: 1px solid #ccc;}

.l3{background:#c7254e;color:#000;border-bottom: 1px solid #ccc; }

.l4{background:#e74c3c;color:#000;border-bottom: 1px solid #ccc;}

.l5{background:#c7254e;color:#000;border-bottom: 1px solid #ccc; }

.l6{background:#e74c3c;color:#000;border-bottom: 1px solid #ccc;}


.linha a {text-decoration:none; color:#000;}

.paginacao {
    position: relative;
    max-width: 500px; 
    width: auto;
    min-width: 30px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 3px;
    margin-top: 3px; 
}
.page {
    width: 30px;
    height: 30px;
    text-align: center;
    float: left;
    border: 1px solid #ccc;
    background: #DBDBDB;
    margin-right: 8px;
    color: #000;
    position: relative;
    z-index: 1;
    border-radius: 4px;
}
.page:hover {
    border:1px #F00 solid;
}

.paginaatual {
    width: 28px;
    height: 28px;
    text-align: center;
    float: left;
    border: 2px solid #0000CD;
}
.paginaatual:hover  {
    width: 28px;
    height: 28px;
    text-align: center;
    float: left;
    border: 2px solid #0000CD;
}

.baixo {
    width: 100%;
    clear:both;
}
.novo {
    width: auto;
    height: auto;
    padding: 5px;
    color: #000;
    border: 1px;
    border-radius: 5px;
    background: #fff;

}
.busca {
    width: 400px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    height: 40px;

}
.busca input {
    border-radius: 5px 0px 0px 5px;
    padding: 2px;
    font-size: 16px;
    width: 223px;
    height: 36px;
    border: #000;
    float: left;
    position: relative;
}

.busca .btnBusca {
    height: 36px;
    border-radius: 0px 5px 5px 0px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom:2px solid #000;
    float: left;
    position: relative;
    width: 77px;
    text-align:center;
    background: #00B;
    color: #fff;
    font-size: 24px;
}

.btnDeletar {
    height: 36px;
    border-radius:  5px;
    border: 2px solid #000;

    margin-right: auto;
    margin-left: auto;
    float: left;
    position: relative;
    width: auto;
    text-align:center;
    background: #0f0;
    color: #fff;
    margin: 5px;
    font-size: 24px;
}

.btnCancelar {
    height: 36px;
    border-radius:  5px;
    border: 2px solid #000;
    float: left;
    margin-right: auto;
    margin-left: auto;
    margin: 5px;
    position: relative;
    width: auto;
    text-align:center;
    background: #f00;
    color: #fff;
    font-size: 24px;
}
.botoes {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}
.btnBusca:active {
    border-bottom-color: #F00;
}
.esquerda {
    float: left;
    height: 30px;
    text-align:left;
    width: 50%;
}
.direita {
    float:right;
    height: 30px;
    text-align: left;
    width: 50%;
}
.centro {
    min-width: 30px;

    margin-right: auto;
    margin-left: auto;
    height: 30px;
    max-width: 422px;
    padding: auto;

}






.btn {
    width: auto;
    padding: 10px 10px 10px 10px;
    color: #FFF;
    font-size: 18px;
    border-radius: 4px; 


}
.btn:hover {
    cursor: pointer;
    border: 2px solid;

}
.vermelho {
    background: #d00;
    border: 2px solid #111;
}
.verde {
    background: #0d0;
    border: 2px solid #111;
}

.azul {
    background: #00d;
    border: 2px solid #111;
}
.branca {
    background: #fff;
    border: 2px solid #111;
}
.branca:hover {
    background: #000;
    color: #fff;
    border: 2px solid #111;
}


::-webkit-input-placeholder {
    color:#666666;
    font: 17px Tahoma, Geneva, sans-serif;
}

:-moz-placeholder {
    color:#666666;
    font: 17px Tahoma, Geneva, sans-serif;
}

::-moz-placeholder {
    color:#666666;
    font: 17px Tahoma, Geneva, sans-serif;
}

:-ms-input-placeholder {  
    color:#666666;
    font: 17px Tahoma, Geneva, sans-serif;
}




.gridBusca{
    position: absolute;
    margin-top: 2%;
    height: 20%;
    width: 50%; 

    left: 10px;
}
.resultado {
    width:55%;
    margin: 0;
    padding: 0;
    list-style: none; 
    z-index: 999; 
    border: 1px solid;
    position: relative;
    max-height: 100%;


}

li ul {
    width: 350px;
    position:absolute;
    left: 98%;
    margin-top: -35px;
    display: none;
    z-index: 330;
}

ul li a {
    width: 100%;
    display: block;
    text-decoration: none;
    color: #777;
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    border-bottom: 0;
}
/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; }
* html ul li a { height: 1%; }
/*End*/ 

li:hover ul { display: block; }


li:hover ul ul, li.over ul ul { 
    display:none; 
}

li:hover ul, li li:hover ul, li.over ul, 
li li.over ul { 
    display: block; 
} /* Aqui a magica */

.Cnome {
    width: 50%;
    position: relative;
    float: left;
    border-right: 1px solid;
    padding-left:  2px;
}
.CvalorUn {
    width: 15%;
    position: relative;
    float: left; 

    border-right: 1px solid;
    padding-left:  5px;
}
.Cqtd {
    content: "";
    text-align: center; 
    min-width: 5%;
    width: 5%;
    max-width: 5%;
    position: relative;
    float: left; 

    border-right: 1px solid;
}

.btnmin {
    color: #fff;
    background: #000;
    height: 20px;
    width: auto;
    float: left;
    position: relative;
    margin-left: 6px;
    padding-left:5px;
    padding-right: 5px;
    border-radius: 3px;
}

.btnAmg{
    border-radius: 5px;
    text-align: center;

}

.c1 {
    height: 200px;

}

.ancora {
    clear: both;
    height: 1px;
    position: relative;
}







.formLinhaInteira {
    text-align: justify; 
    min-width: 50%;
    max-width: 100%;
    min-height: 40px;  
    padding: 2.5px;
    margin-bottom: 2px; 
}


.formLinhaMeia {
    text-align: center; 
    max-width: 50%;   
    padding: 2.5px;
    margin-bottom: 2px; 
}

input:focus {
    border: 1px #0000FF solid; 
    background: #FFF;
    color: #000; 
}

.inputM {  
    background-color: #f0f0f0; 
    height: 35px;
    width:45%;
    border-radius: 1px; 
    border: #ddd 1px solid;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-left: 5px;
    padding-right: 5px;  
    outline: none; 
    color: #555; 
    font-family: "Open Sans",sans-serif; 
    border: 1px solid #ddd;
    -moz-box-shadow: 0px 1px 0px white;
    -webkit-box-shadow: 0px 1px 0px white;
    box-shadow: 0px 1px 0px white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    /*-moz-background-clip: padding;*/
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0, .05);


}  
.inputMC {
    float: left;
    position: relative;
    width: 50%; 
}
.inputMC input {
    width:95%; 
}
l{ 
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    width:  100%;
    padding-left:2%;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    word-spacing: 3px;
    margin-bottom: 0px;
}

#imgLocal img{
    padding: 0px;
    max-width: 100%;
    height:100px;
    float: left;
    position: relative;


    max-height:100px;
    position: relative;  
    max-width:95%;
    padding-left:5%; 
    max-height: 600px;
    float: left;


} 
.meiaCaixa {
    width: 49%;
    position: relative;
    float: left;
}
.subCabecalho  {

    background: #CED7E8;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 5px 5px 0 0;
    color:#194169; 
    font-size: 40px;
    line-height: 24px;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 30px;
    text-align: center;
}

.subcorpo {
    border: 1px solid #593939;
    background: rgba(255,255,255,1);
    text-decoration:none;
    border-radius: 5px;
    width:980px;


    height:auto;
    margin-left:auto;
    margin-right:auto;
}

.subRodape {
    margin-top: 20px;
    position: relative;
    width: 100%;

    bottom: 0;
    left: 0;
    right: 0;
    min-height: 51px;
    line-height: 50px;
    text-align: center;
    background: #eaeaea;
    border-top: 1px solid #e5e5e5;
    border-radius: 0 0 5px 5px;

}
.botaoConfirma {
    min-height: 15px;
    font-size: 25px;

    margin: 5px;
    padding-top: 2px !important;
    padding-bottom:  2px !important;	
    padding-left: 8px !important;    
    padding-right:  8px !important; 
    color: #fff;
    background: #47A9EB;  
    align-items: flex-start;
    text-align: center;
    cursor: pointer; 
    padding: 2px 6px 3px;
    border: 1px outset buttonface; 
    box-sizing: border-box;
    border-radius: 5px;

}

.botaoCancela {
    min-height: 15px;
    font-size: 25px;

    margin: 5px;
    padding-top: 2px !important;
    padding-bottom:  2px !important;	
    padding-left: 8px !important;    
    padding-right:  8px !important; 
    color: #fff;
    background: #ec0000;  
    align-items: flex-start;
    text-align: center;
    cursor: pointer; 
    padding: 2px 6px 3px;
    border: 1px outset buttonface; 
    box-sizing: border-box;
    border-radius: 5px;

}
.left {
    float: left;
    width: 50%;
    min-height: 10px;
    max-height:auto; 

}

.carrinho {
    width: 18.5%;
    float: right;
    margin-right: 0.5%;
    position: relative;
    background: #009933;

}
.venda {
    position: relative;
    float: left;
    height: auto;
    width: 80%;
    background: #FFF; 
}
.produto {
    width: 100%;
    height: auto;

} 

.caixaProduto {

    background: #92DB98;
    position: relative;
    float: left;
    border-radius: 3px;
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 5px;


}
.tipo{

    width: 100%; 
    display: block;
}  
.tipotitulo{   

    padding-left: 4%;
    background: #BD1717;
    position: absolute;
    margin:20px auto;
    width: 100%;
    color:#fff; 
    height:auto;
    font-size: 35px;
    text-align: left;

    z-index:2; 
}

.tipocaixa {
    width: 100%;
    position: relative;
    height: 60px;
    margin-bottom: 7px;

}
.tipoTexto:before  {
    position: absolute;
    content: "";
    height: 0;
    left: 0px;
    line-height:1px;
    border-style:solid;
    border-width:8px;
    z-index:1;
    border-color: rgb(140,3,3) rgb(140,3,3) transparent transparent;
    bottom:-15px;

}
.tipoTexto:after  {
    position: absolute;
    content: "";
    height: 0px;
    margin-left: -16px;
    left: 100%;
    line-height:1px;
    border-style:solid;
    border-width:8px;
    z-index:1;
    border-color: rgb(140,3,3) transparent    transparent rgb(140,3,3)  ;
    bottom:-15px;

}










.caixaProduto img{
    margin: 1%;
    margin-right: 0px;
    width: 24%;
    height: 100px;
    float: left;
    position: relative;
}

.corpoProduto {

    margin: 1%; 
    width: 63%;
    height: 100px;
    float: left;
    position: relative;
}
.nomeProduto {
    float: left;
    position: relative;
    text-align: left;
    width: 75%;
    padding-left: 3%;
    height: 25px;
    background: #00994D;
    font-size: 20px; 
    color: #FFF;
}
.gradiente3{background: #32f246; /* Old browsers */
            background: -moz-linear-gradient(-45deg, #32f246 0%, #f6290c 7%, #4ec979 24%, #f6290c 28%, #4ec979 50%, #4ec979 53%, #ef5240 71%, #54b245 76%, #54b245 78%, #e56559 94%, #54b245 94%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#32f246), color-stop(7%,#f6290c), color-stop(24%,#4ec979), color-stop(28%,#f6290c), color-stop(50%,#4ec979), color-stop(53%,#4ec979), color-stop(71%,#ef5240), color-stop(76%,#54b245), color-stop(78%,#54b245), color-stop(94%,#e56559), color-stop(94%,#54b245)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(-45deg, #32f246 0%,#f6290c 7%,#4ec979 24%,#f6290c 28%,#4ec979 50%,#4ec979 53%,#ef5240 71%,#54b245 76%,#54b245 78%,#e56559 94%,#54b245 94%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(-45deg, #32f246 0%,#f6290c 7%,#4ec979 24%,#f6290c 28%,#4ec979 50%,#4ec979 53%,#ef5240 71%,#54b245 76%,#54b245 78%,#e56559 94%,#54b245 94%); /* Opera 11.10+ */
            background: -ms-linear-gradient(-45deg, #32f246 0%,#f6290c 7%,#4ec979 24%,#f6290c 28%,#4ec979 50%,#4ec979 53%,#ef5240 71%,#54b245 76%,#54b245 78%,#e56559 94%,#54b245 94%); /* IE10+ */
            background: linear-gradient(135deg, #32f246 0%,#f6290c 7%,#4ec979 24%,#f6290c 28%,#4ec979 50%,#4ec979 53%,#ef5240 71%,#54b245 76%,#54b245 78%,#e56559 94%,#54b245 94%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#32f246", endColorstr="#54b245",GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.valorProuto{

    float: left;
    position: relative;
    width: 24%; 
    margin-left: 1%;
    height: 25px;
    color: #FFF;
    background: #00994D;
    font-size: 14px; 
    text-align: center;
}

.descricaoProduto{
    width: 100%;

    padding-left: 2.5%;
    padding-right: 2%;
    overflow: auto;
    position: relative;
    float: left;
    text-align: justify;
    background: #efe;
    height: 73px;
    margin-top: 2px;
} 

.operadoresProduto {
    width: 10%;
    height: 100px;
    float: left;
    position: relative;
    padding: 0.5%;
}


.produtoBTN{ 
    margin-top: 3px;
    width: 94%;
    float: left;
    position: relative;

}

.btnAdd2{
    content: "Read this -";
    border: 0px;
    width: 95%;
    height: 3px;  
    color: #fff;
    border-radius: 3px;
    height: 25%;
    background-image: url(../img/car.jpg) ;
    background-size: cover ;
    background-position: center center;
}
.btnAdd3{

    content: "";
    border-radius: 3px;
    width: 95%;
    border: 0px;
    background: #fff;
    background-size: cover ;
    background-position: center center;

    height: 25%;
    background-image: url(../img/Z.jpg);
    color: #fff;


}
.btnAdd{
    width: 95%; 

    border-bottom: 3px solid #000;
    background: #47A9EB;
    color: #fff;

}
.red {
    background: #f43229;

    border: 2px solid #f43229;
}
.blue{

    background: #47A9EB;

    border: 2px solid #008cba;
}

.btnAdm {
    padding: 0px;
    margin:2px;
    border-radius: 3px;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    color: #fff;
}

.btnAdd :active {
    border-bottom: 0px #ccc;
}


.carCorpo {
    width: 100%;
    background:#fff;

}

.carCabecalho {
    text-align: center;
    background:   rgb(12, 147, 78);


    width: 100%;
    font-size: 40px;
    line-height: 40px;
    height: 40px;
}
.carCaixa{


    width: 93%;
    margin: 3.5%;
    border: 1px solid #222;
    padding-left: 2px; 
    background: fff;

}

.carItem {
    min-height:  12px;
    max-height: 35px;
    font-size: 12px;  
    margin-bottom: 3px;
    padding-bottom: 3px;
    border-bottom: 1px dotted #00cc66;

    background: #fff;
}
.carTipo{
    width: 100%;

}

.carQtd{
    text-align: center;
    position: relative;
    float: left;
    z-index: 3;
    width: 10%;


}
.carNome{
    padding-left: 2px;
    z-index: 2;    
    position: relative;
    float: left;
    width:50%;
}
.carSub{

    z-index: 2;
    position: relative;
    float: left;
    width: 40%;

}
.carRodape{
    background:#f40323; 
    height: auto;

}
.carValor {

    height: 35px;
    width: 100%;
}

.faixa {
    height: 35px;
    width: 100%;
    text-align: center;
    color: #fff; 
    font-size: 23px; 
    position: absolute;
}


.faixa:before  {
    position: absolute;
    content: "";
    height: 0;
    left: 0px;
    line-height:1px;
    border-style:solid;
    border-width:4px;
    z-index:1;
    border-color: #000 #000 transparent transparent;
    bottom: -7.5px

}
.faixa:after  {
    position: absolute;
    content: "";
    bottom: -8px;
    height: 0;
    margin-left: -8px;
    left: 100%;
    line-height:1px;
    border-style:solid;
    border-width:4px;
    z-index:1;
    border-color:  #000 transparent    transparent #000  ;


}

#form{
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width:100%; 
    z-index: 99999999999999;
    background:rgba(0, 0, 51, 0.73);
    padding-bottom: 30px; 
    padding-top: 25px;
    overflow-y: auto;
    overflow-x: hidden;
} 


.pizzaLeg1{

    border: 0px solid;
    width: 130PX;
    position: absolute;
    -webkit-transform: rotate(-50deg);
    z-index: 1001;
    -o-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    left: -15px;
    top: 5px;
    color: #000;

    font-size: 25px;
}



.pizzaLeg2{ 

    border: 0px solid;
    width: 130PX;
    position: absolute;
    height: 35PX;
    -webkit-transform: rotate(50deg);
    z-index: 100;
    -o-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    left: 240px;
    top: 40px;
    color: #000;
    font-size: 25px;

}
.pizzaLeg3{ 

    border: 0px solid;
    width: 130PX;
    position: absolute;
    height: 35PX;
    -webkit-transform: rotate(-45deg);
    z-index: 100;
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    left: 230px;
    color: #000;
    font-size: 25px;
    top: 260px;



}



.pizzaCorpo {

    width: 95%;
    margin: 2.5%;
    background: rgb(12, 147, 78);


}
.pizzaValor {
    position: absolute;
    right:130px;
    width: 185px;
    color: #fff;
    font-size: 25px;
    background: transparent;
    bottom: 10px;

}


.menuPizza {
    text-align: center;
    color: #fff;
    font-size: 20px;
    background:  #00994D;
    width: 96%;
    margin-left: auto; 
    margin-right: auto; 
    padding:5px;
    margin-bottom: 10px;
}
.pizzaDesc_1 {
    margin-left: 400px;
    margin-top: 10px;
    z-index: 9999999;
    display: block;
    float: right;
    width: 320px;
    background: #BD1717;
    height: 120px;
    overflow: none;
    padding-top: 3px;
    overflow: none;
    font-size: 20px;
    color: #FFF;
    margin-bottom: 10px;
}

.pizzaDesc_2{
    margin-left: 380px;
    top: 10px;
    z-index: 999999;
    float: right;
    width: 320px;
    background: #BD1717;
    height: 120px;
    overflow: none;
    padding-top: 3px;
    overflow: none;
    font-size: 20px;
    color: #FFF;
    margin-bottom: 10px;
    position: absolute;
}

.pizzaDesc_3 {
    position: absolute;
    margin-left: 380px;
    top: 150px;
    z-index: 9999999;
    float: right;
    width: 320px;
    background: #BD1717;
    height: 120px;
    overflow: none;
    padding-top: 3px;
    overflow: none;
    font-size: 20px;
    color: #FFF;
    margin-bottom: 10px;
}
.pizzaDesc_4 {
    margin-left: 380px;
    top: 0px;
    z-index: 99999999;
    float: right;
    width: 320px;
    background: #BD1717;
    height: 110px;
    overflow: none;
    padding-top: 3px;
    overflow: none;
    font-size: 20px;
    color: #FFF;
    margin-bottom: 10px;
    position: absolute;
}
.pizzaDesc_5 {
    margin-left: 380px;
    top: 120px;
    z-index: 999999;
    float: right;
    width: 320px;
    background: #BD1717;
    height: 110px;
    overflow: none;
    padding-top: 3px;
    overflow: none;
    font-size: 20px;
    color: #FFF;
    margin-bottom: 10px;
    position: absolute;
}

.pizzaDesc_6 {
    margin-left: 380px;
    top: 240px;
    z-index: 999999;
    float: right;
    width: 320px;
    background: #BD1717;
    height: 110px;
    overflow: none;
    padding-top: 3px;
    overflow: none;
    font-size: 20px;
    color: #FFF;
    margin-bottom: 10px;
    position: absolute;
}

.pizzaDes {
    color: #000;
    background: #18411d;
    height:100px;
    overflow: none;
    padding-top: 3px;
    overflow: auto;
    width: 95%;    
    height: 70%;
    margin-left: auto;
    margin-right: auto;

    background: #fff;
}


.botaoAddPizza { 
    width: 70px; 
    height: 50px;   
    position: absolute;
    right: 40px;
    bottom: 15px;
    /* background: #43ac6a;*/
    border-radius: 10px;
    border: 1px solid #1c6725;
    border-bottom: 3px  solid #1c6725;
    color:#fff;
    font-size:25px;
    z-index: 23
}

.botaoAddPizza:active{
    border-bottom: 1px  solid #1c6725;
}


.carCaixa1 {
    height: 220px;
    max-height: 220px;
    min-height: 220px;

}








