/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/06/2015, 22:36:36
    Author     : Artur
*/


.tp {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;
    background: #000;
    opacity: 0.3;
    display: none;
}
.form{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 11;
    display: none;
}
.caixaFoto  img{
    position: relative;
    float:left;
    width: 100px;
    height: 100px;
}
.ancora{
    position: relative;
    clear: both;
}